.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bg {
  background: #000000;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.main-menu {
  width: 1265px;
  height: 37px;
  position: absolute;
  left: 73px;
  top: 56px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - -325.5px);
  top: 50%;
  translate: 0 -50%;
}
.home2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.vaishnavi-deepak-patil {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
}
.hero-section {
  width: 1137px;
  height: 339px;
  position: absolute;
  left: 161px;
  top: 305px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-codes {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 105px;
  top: 95px;
}
.frame-2 {
  background: #28a745;
  border-radius: 40px;
  width: 227px;
  height: 57px;
  position: absolute;
  left: 453px;
  top: 282px;
  overflow: hidden;
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 871px;
}
.vaishnavi-deepak-patil-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
